#นำเข้า lib

In [12]:
import pandas as pd

#อ่านไฟล์csv seq= '\t'

In [2]:
df = pd.read_csv("marketing_campaign.csv",sep = '\t' )

#ดูว่ามีสถานะอะไรบ้าง

In [26]:
df["Marital_Status"].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

#ดูว่ามีค่า null อันไหนบ้าง

In [ ]:
df.isnull().sum()

#ไม่เอาค่า na

In [28]:
df_drop = df.dropna()

#หลังจากดดรอปให้ เรียงตามสถานะ

In [31]:
df_sin = df_drop[df_drop.Marital_Status == "Single"]

In [32]:
df_tog = df_drop[df_drop.Marital_Status == "Together"]

In [33]:
df_mar = df_drop[df_drop.Marital_Status == "Married"]

In [34]:
df_div = df_drop[df_drop.Marital_Status == "Divorced"]

In [35]:
df_alo = df_drop[df_drop.Marital_Status == "Alone"]

In [36]:
df_wid = df_drop[df_drop.Marital_Status == "Widow"]

In [37]:
df_abs = df_drop[df_drop.Marital_Status == "Absurd"]

In [38]:
df_yol = df_drop[df_drop.Marital_Status == "YOLO"]

#รวมค่า Income ของแต่ละสถานะ

In [39]:
df_sum_sin = df_sin["Income"].sum()

In [40]:
df_sum_tog = df_tog["Income"].sum()

In [41]:
df_sum_mar = df_mar["Income"].sum()

In [42]:
df_sum_div = df_div["Income"].sum()

In [43]:
df_sum_alo = df_alo["Income"].sum()

In [44]:
df_sum_wid = df_wid["Income"].sum()

In [45]:
df_sum_abs = df_abs["Income"].sum()

In [46]:
df_sum_yol = df_yol["Income"].sum()

#แสดงผล ค่า/จำนวนข้อมูล

In [50]:
print("ค่าเฉลี่ยกลุ่ม Single :",df_sum_sin/int(len(df_sin)))

ค่าเฉลี่ยกลุ่ม Single : 50995.35031847134

In [51]:
print("ค่าเฉลี่ยกลุ่ม Together :",df_sum_tog/int(len(df_tog)))

ค่าเฉลี่ยกลุ่ม Together : 53245.53403141361

In [52]:
print("ค่าเฉลี่ยกลุ่ม Married :",df_sum_mar/int(len(df_mar)))

ค่าเฉลี่ยกลุ่ม Married : 51724.97899649942

In [53]:
print("ค่าเฉลี่ยกลุ่ม Divorced :",df_sum_div/int(len(df_div)))

ค่าเฉลี่ยกลุ่ม Divorced : 52834.22844827586

In [54]:
print("ค่าเฉลี่ยกลุ่ม Alone :",df_sum_alo/int(len(df_alo)))

ค่าเฉลี่ยกลุ่ม Alone : 43789.0

In [55]:
print("ค่าเฉลี่ยกลุ่ม Widow :",df_sum_wid/int(len(df_wid)))

ค่าเฉลี่ยกลุ่ม Widow : 56481.55263157895

In [56]:
print("ค่าเฉลี่ยกลุ่ม Absurd :",df_sum_abs/int(len(df_abs)))

ค่าเฉลี่ยกลุ่ม Absurd : 72365.5

In [57]:
print("ค่าเฉลี่ยกลุ่ม YOLO :",df_sum_yol/int(len(df_yol)))

ค่าเฉลี่ยกลุ่ม YOLO : 48432.0